.sidebar {
  position: relative;
  display: inline-block;
  width: 250px;
  box-shadow: $shadow;
  background-color: $white;
  flex-shrink: 0;
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}