.topbar {
  background-color: $white;
  border-top: $primary 5px solid;
  box-shadow: $shadow;
  padding: $padding;
  position: relative;
  text-align: left;
  z-index: 1;

  .logo {
    height: 1.75rem;
  }
}

@media (max-width: 992px) {
  .topbar {
    text-align: center;
    padding: $padding-sm;

    .logo {
      height: 1.5rem;
    }  
  }
}