.content {
  .information {
    .label {
      font-weight: bold;
      margin-right: 0.25rem;
    }
  
    .text {
      color: $dark-gray;
    }
  
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    .fields {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon {
      color: $primary;
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }

  .footer {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    
    .btn {
      margin-left: 0.5rem;
    }
  }
}