.product-picture {
  margin-bottom: 1rem;
  border-radius: $border-radius;
  overflow: hidden;
  border: $primary 1px solid;
  box-shadow: $shadow;
  text-align: center;

  .image {
    height: 220px;
    object-fit: contain;
    width: 100%;
  }
}